@import url(styles.css);
@import url(main.css);
.title {
    margin: 50px auto;
    text-align: center;
    font-weight: 500;
}

.container {
    margin: 0 auto;
    padding: 50px;
    width: 500px;
    height: 250px;
    box-shadow: var(--shadow);
    background-color: white;
}
